body {
  font-family: Roboto, sans-serif;
  color: #989898;
  font-size: 16px;
}

header {
  background-color: #24292E;
  color: #FFFFFF;
  height: 72px;
  align-items: center;
}

#header {
  display: none;
}

header > img {
  margin: 0 23px 0 23px;
}

header > p {
  margin-right: 23px;
}

#container {
  margin: 4%;
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#user-image {
  width: 104px;
  border-radius: 50%;
  margin: 15px 0;
}

#user-name {
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  margin-bottom: 5px;
}

#user-description {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
  width: 60%;
}

#more-infos {
  color: #0587FF;
  font-size: 14px;
}

.div-row {
  display: flex;
  flex-direction: row;
}

#infos-show-hidden {
  color: #0587FF;
  font-size: 14px;
  margin-bottom: 20px;
  content-visibility: visible;
}

.back-gray {
  background-color: #F8F8F8;
  border-radius: 8px;
}

.inside-back-gray {
  padding: 6px;
}

.v1 {
  width: 12px;
  margin-right: 8px;
}

.containt-repos-stars {
  margin-bottom: 16px;
}

.repos-stars {
  width: 50%;
  align-items: center;
}

.tag-margin {
  margin: 0 0.5rem 0 0.5rem;
}

#my-repos {
  width: 185px;
  margin-right: 20px;
}

#my-stars {
  width: 148px;
}

.n-repostars {
  width: 40px;
  background: linear-gradient(90deg, #DBDBDB, #F8F8F8);
  border-radius: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  border: 1px solid #DBDBDB;
}

.v2 {
  width: 20px;
}

#containt-type-language {
  padding: 8px;
  margin-bottom: 10px;
}

#type-language {
  width: 80%;
  align-items: center;
}

#search {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
}

#input-search {
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#containt-repo {
  display: flex;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #F8F8F8;
}

#repo-name {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

#repo-branch {
  color: #0587FF;
  font-size: 18px;
  font-weight: 500;
}

#div-description {
  margin: 10px 0;
  font-size: 14px;
}

li > a > div > p {
  color: #000000;
  margin-right: 30px;
  font-size: 14px;
}

li > a > div > img {
  margin-right: 10px;
}

button {
  background: transparent;
  border: transparent;
  color: #FFFFFF;
}

.button {
  background: linear-gradient(90deg, #0056A6, #0587FF);
  display: flex;
  justify-content: center;
  border-radius: 42px;
  padding: 8px 12px;
  margin-right: 10px;
}

.button > img {
  width: 18px;
}

.options {
  margin-bottom: 10px;
}

.input-margin {
  margin-right: 10px;
}

.clicked {
  color: #000000;
  border-bottom: 1px solid #FD8C73;
  padding: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a,
a:visited {
  color: #989898;
}

@media (min-width: 768px) {
  #header {
    display: flex;
  }
  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 3%;
  }
  #containt-user {
    width: 37%;
  }
  #containt-repos {
    width: 57%;
  }
  #more-infos,
  #up-down {
    display: none;
  }
  #infos-show-hidden {
    display: block;
  }
  div > p {
    overflow-wrap: anywhere;
  }
  .back-gray {
    background-color: transparent;
  }
  #containt-type-language {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  #search {
    justify-content: flex-start;
    width: 100%;
    padding: 22px 0px 14px 0px;
    border-bottom: 1px solid #F4F4F4;
  }
  #input-img {
    margin-right: 10px;
  }
  #input-search {
    border: none;
    color: #989898;
    font-weight: 400;
    font-size: 18px;
    display: block;
  }
}
@media (min-width: 1024px) {
  #container {
    margin: 5% 8%;
  }
  .repos-stars {
    width: 30%;
  }
  #containt-repos {
    width: 60%;
  }
  #containt-type-language {
    flex-direction: row-reverse;
  }
  #search {
    border: none;
  }
}
@media (min-width: 1440px) {
  #container {
    margin: 5% 14%;
  }
}/*# sourceMappingURL=styles.css.map */